table {
    border-collapse: collapse;
    width: 100%;
}

th,td {
    border: 1px solid #ccc;
    padding: 6px;
    vertical-align: top;
}

th {
    background: #f5f5f5;
}

img {
    width: 60px;
}